@media (max-width: 576px) {
    .form-col-6 {
        position: relative;
        width: 50% !important;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
  }
.blue-event-icon
{
    color: #cce5ff;
}
.dark-event-icon
{
    color: #e2e3e5;
}
.green-event-icon
{
    color: #d4edda;
}
.red-event-icon
{
    color: #f8d7da;
}
.yellow-event-icon
{
    color: #fff3cd;
}
.lightblue-event-icon
{
    color: #d1ecf1;
}

.blue-event
{
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.dark-event
{
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.green-event
{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.red-event
{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.yellow-event
{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.lightblue-event
{
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

#classNameSelect
{
    background-color: #343a40;
}