@media (max-width: 576px) {
    .nav-col-9 {
        position: relative;
        width: 75% !important;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .nav-col-3 {
        position: relative;
        width: 25% !important;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
  }

#links img{
    max-width: 50%;
}
#uploadProgress
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
}

.like
{
    position: absolute;
    top: 15px;
    padding: 15px;
    right: 70px;
    left: auto;
    margin: -15px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    color: yellow !important;
}

.delete
{
    position: absolute;
    top: 15px;
    padding: 15px;
    right: 1400px;
    left: auto;
    margin: -15px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    color: gray!important;
}