<form id="photoUpload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"  multiple="multiple" accept="image/*">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<section id="photos"></section>

<link rel="stylesheet" href="/css/istory.css">
<script src="/js/istory.js"></script> 
