<form id="photoUpload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"  multiple="multiple" accept="image/*">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div id="my_nanogallery2"></div>
<section id="photos"></section>
<button id="btn_add" class="btn btn-primary">add</button>

<link rel="stylesheet" href="/css/istory.css">
<link rel="stylesheet" href="/css/nanogallery2.min.css">
<link rel="stylesheet" href="/css/nanogallery2.woff.min.css">
<script src="/js/istory.js"></script> 
<script src="/js/jquery.nanogallery2.min.js"></script> 
